<%= comment.id %>

<%= comment.user.email %>
<%= comment.content %>

<%= comment.plusminus %><div class="container-md"><div class="padding-bottom">
<%if user_signed_in? %>
  <%= link_to 'Upvote', vote_up_comment_path(comment), :method => :post, class: "btn btn-success leftmargin" %>
  <%= link_to 'Downvote', vote_down_comment_path(comment),:method => :post, class: "btn btn-danger leftmargin" %>
  <% if comment.user == current_user%><div class="edite_del">
    <%= button_to 'Delete', comment, class:"btn buttonbg leftmargin", :method => "delete", data: { confirm: 'Are you sure?' } %>
  <% end %></div>
  <%if current_user.isadmin?%><div class="edite_del">
    <%= button_to 'Admin delete', comment, class:"btn buttonbg leftmargin", :method => "delete", data: { confirm: 'Are you sure?' } %>
  <% end %></div>
<% end %>
</div>
</div>