

<div id="posts" class="middle-class fixed">
    <% @posts.each do |post| %><br/>
      <div class="box boxbg">
        <%=link_to image_tag(post.image.url(:medium), :class => "image"), post %>
       <br/>
        </div>
        <div class="center_text">
        <%= post.description %><br/>
        </div><br/>
        <%= simple_format "@#{post.user.email if post.user}"%><br/><br/>
        <div class="alignright">
          <div class="btnd floatleft">
            <%= post.plusminus %>
            <%if user_signed_in? %>
              <%= link_to 'Upvote', vote_up_post_path(post), :method => :post, class: "btn btn-success leftmargin" %>
              <%= link_to 'Downvote', vote_down_post_path(post), :method => :post, class: "btn btn-danger leftmargin" %>
            <% if post.user == current_user%>



                <div class="edite_del">

              <%= button_to 'Edit', edit_post_path(post), class:"btn btn leftmargin", :method => "get" %></div>
                  <div class="edite_del">
              <%= button_to 'Delete', post, class:"btn btn leftmargin", :method => "delete", data: { confirm: 'Are you sure?' } %>
            <% end %></div>
              <div class="edite_del">
            <%if current_user.isadmin?%>
                <%= button_to 'Admin delete', post, class:"btn btn leftmargin", :method => "delete", data: { confirm: 'Are you sure?' } %>
            <% end %>
            <% end %>
            </div></div>
          </div></div>





            </div>
    <% end %>
<br/>
  <%= will_paginate @posts, renderer: WillPaginateInfinite::InfinitePagination %>
</div>

<%# TODO make new frontend, add functionality in backend, convert to haml if possible %>