
<% @posts.each do |post| %><br/>
<div id="posts" class="middle-class">
      <div class="box boxbg">
        <div class="boximg">
        <%=link_to image_tag(post.image.url(:medium), :class => "image"), post %>
        </div>
       <br/>

        <div class="center_text">
        <%= "Description: "+post.description %><br/>
        </div><br/>
        <div class="margin-left">
        <%= simple_format "From #{post.user.email if post.user}"%><br/><br/>
        </div>
        <div class="alignright margin-left">
          <div class="btnd">
            <%= "Vote count "+post.plusminus.to_s %>
            <%if user_signed_in? %>
              <%= link_to 'Upvote', vote_up_post_path(post), :method => :post, class: "btn buttonbg leftmargin" %>
              <%= link_to 'Downvote', vote_down_post_path(post), :method => :post, class: "btn buttonbg leftmargin" %>
            <% if post.user == current_user%>
              <%= button_to 'Edit', edit_post_path(post), class:"btn buttonbg", :method => "get" %>
              <%= button_to 'Delete', post, class:"btn buttonbg leftmargin", :method => "delete", data: { confirm: 'Are you sure?' } %>
            <% end %>
            <%if current_user.isadmin?%>
                <%= button_to 'Admin delete', post, class:"btn buttonbg leftmargin", :method => "delete", data: { confirm: 'Are you sure?' } %>
            <% end %>
            <% end %>
          </div>
          </div>
        </div>

        <br/>
      </div>
    <% end %>
<br/>
  <%= will_paginate @posts, renderer: WillPaginateInfinite::InfinitePagination %>
</div>

<%# TODO make new frontend, add functionality in backend, convert to haml if possible %>
