

<div id="posts" class="middle-class fixed">
    <% @posts.each do |post| %><br/>
      <div class="box boxbg">

       <br/>
        </div>
        <div class="center_text">
        <%= post.description %><br/>
        </div><br/>
        <%= simple_format "@#{post.user.email if post.user}"%><br/><br/>
        <div class="alignright">
          <div class="btnd floatright">
            <% if post.user == current_user %>
              <%= button_to 'Edit', edit_post_path(post), class:"btn buttonbg", :method => "get" %>
              <%= button_to 'Delete', post, class:"btn buttonbg leftmargin", :method => "delete", data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>


      </div>
    <% end %>
<br/>
  <%= will_paginate @posts, renderer: WillPaginateInfinite::InfinitePagination %>
</div>