<p id="notice">
  <%= notice %>
</p>
<div class="middle-class">
  <div class="L_box boxbg">
  <%= image_tag @post.image.url(:large), class:"image_show" %><br/>
  <b>Description:</b>
  <%= @post.description %><br/><%= simple_format "@#{@post.user.email}"%><br/><br/><br/>

    <div class="alignright">

      <div class="btnd floatright">
        <%if user_signed_in? %>
          <% if @post.user == current_user%>
            <%= button_to 'Edit', edit_post_path(@post), class:"btn buttonbg", :method => "get" %>
            <%= button_to 'Delete', @post, class:"btn buttonbg leftmargin", :method => "delete", data: { confirm: 'Are you sure?' } %>
          <% end %>
          <%if current_user.isadmin?%>
            <%= button_to 'Admin delete', @post, class:"btn buttonbg leftmargin", :method => "delete", data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= button_to 'Back', posts_path, class:"btn buttonbg middle-class", :method => "get" %>
      </div>
</div>

<%# TODO make new frontend, add functionality in backend, convert to haml if possible %>